.vscode
__pycache__
/temp
/references
/data/my_test_data*
/data/SRR372747_mango_result
/data/ChIA-PET2_result/*/*/*.bedpe
/data/ChIA-PET2_result/*/*/*.bak
/data/ChIA-PET2_result/*/*/*.zip
/data/ChIA-PET2_result/*/*/*.MICC
/data/CTCF_ChIP_seq/*
!/data/CTCF_ChIP_seq/chip_norm_sf.py
!/data/CTCF_ChIP_seq/chip_preprocess.py
/data/diffloopdata
/data/DNase_seq/*
!/data/DNase_seq/dnase_norm_sf.py
!/data/DNase_seq/dnase_preprocess.py
/data/hg38
/data/mango_from_micc/*
!/data/mango_from_micc/gen_mango_from_micc.py
/data/mm39
/data/raw_data
/data/RNA_expression/*
!/data/RNA_expression/rna_exp_norm_sf.py
!/data/RNA_expression/rna_data_process.py
/test/reproducibility/*
!/test/reproducibility/*.py
!/test/reproducibility/*.md
/test/sim_test/*
!/test/sim_test/*.py
/test/rna_exp/*
!/test/rna_exp/*.py
!/test/rna_exp/*.md
/test/chip_signal/*
!/test/chip_signal/*.py
!/test/chip_signal/*.md
/test/dnase_signal/*
!/test/dnase_signal/*.py
!/test/dnase_signal/*.md
/test/rna_chip/*
!/test/rna_chip/*.py
/test/mouse_neuronal_differentiation/*
!/test/mouse_neuronal_differentiation/*.py
!/test/mouse_neuronal_differentiation/*.md
!/test/mouse_neuronal_differentiation/ESC_vs_NPC_result
/test/mouse_neuronal_differentiation/ESC_vs_NPC_result/*
!/test/mouse_neuronal_differentiation/ESC_vs_NPC_result/GO*.txt
!/test/mouse_neuronal_differentiation/ESC_vs_NSC_result
/test/mouse_neuronal_differentiation/ESC_vs_NSC_result/*
!/test/mouse_neuronal_differentiation/ESC_vs_NSC_result/GO*.txt
!/test/mouse_neuronal_differentiation/NSC_vs_NPC_result
/test/mouse_neuronal_differentiation/NSC_vs_NPC_result/*
!/test/mouse_neuronal_differentiation/NSC_vs_NPC_result/GO*.txt

